<div id="index-banner" class="parallax-container">
  <div class="parallax"> <%= image_tag("CVVR_Header.jpeg") %> </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <a href="/static_pages/learn" style="color: rgba(0, 0, 0, 0.87)">
            <h2 class="center blue-text"><i class="material-icons">flight</i></h2>
            <h5 class="center">Apprendre à voler</h5>
          </a>

          <p class="light">Apprendre à piloter est à la portée de tout le monde. La formation de base se déroule en une vingtaine d'heures de vol assorties en plus de quelques leçons théoriques au sol. Elle est dispensée par des instructeurs bénévols compétents, les conseils des autres pilotes n'étant pas à exclure! </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <a href="/static_pages/baptism" style="color: rgba(0, 0, 0, 0.87)">
            <h2 class="center blue-text"><i class="material-icons">flight_takeoff</i></h2>
            <h5 class="center">Baptèmes</h5>
          </a>

          <p class="light">Venez vous essayer au planeur ! Pour offrir ou bien pour vous même, nous vous proposons deux formules, Découverte et Voltige</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <a href="/static_pages/training" style="color: rgba(0, 0, 0, 0.87)">
            <h2 class="center blue-text"><i class="material-icons">cloud</i></h2>
            <h5 class="center">Stages</h5>
          </a>

          <p class="light">Pour commencer ou simplement découvrir le vol à voile. Les activités se déroulent sur plusieurs jours, et il est important de noter que l'hébergement n'est pas compris dans le forfait, un camping est néanmoins mis à disposition!</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="video-container">
    <iframe src="//www.youtube.com/embed/krrDfmccRsk?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<br/>

<div class="container">
  <div class="section">

    <div class="row">
      <h5 class="center">Nous Contacter</h5>
      <div class="col s12 l6">
        <p class="flow-text light">
          Vous pouvez nous contacter par téléphone, par mail ou bien passer nous voir.
        </p>
        <br><br>
        <a href="tel:+33477668108" ><i class="material-icons left">phone</i>+33 04 77 66 81 08</a>
        <br><br>
        <a href="mailto:cvvroannais@gmail.com" ><i class="material-icons left">mail</i>cvvroannais@gmail.com</a>
        <br><br>
      </div>
      <div class="col s12 l6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11075.934994379711!2d3.9957677!3d46.0514224!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9f2208df890e8627!2sCentre+de+Vol+%C3%A0+Voile+Roannais+(CVVR)!5e0!3m2!1sfr!2sfr!4v1497455255939" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>
