<div id="100">
  
  <div id="index-banner" class="slider">
    <ul class="slides">
      <li>
        <%= image_tag("CVVR_Header1.jpg", :style => 'width : 100%') %>
      </li>
      <li>
        <%= image_tag("CVVR_Header2.jpg", :style => 'width : 100%') %>
      </li>
      <li>
        <%= image_tag("CVVR_Header3.jpg", :style => 'width : 100%') %>
      </li>
    </ul>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 l4">
          <div class="icon-block">
            <a href="/static_pages/learn" style="color: rgba(0, 0, 0, 0.87)">
              <h2 class="center blue-text"><i class="material-icons">flight</i></h2>
              <h5 class="center">Apprendre à voler</h5>
            </a>
            <p class="flow-text light center">Apprendre à piloter est à la portée de tout le monde. La formation de base se déroule en une vingtaine d'heures de vol assorties en plus de quelques leçons théoriques au sol.</p>
          </div>
        </div>

        <div class="col s12 l4">
          <div class="icon-block">
            <a href="/static_pages/baptism" style="color: rgba(0, 0, 0, 0.87)">
              <h2 class="center blue-text"><i class="material-icons">flight_takeoff</i></h2>
              <h5 class="center">Baptèmes</h5>
            </a>
            <p class="flow-text light center">Venez vous essayer au planeur ! Pour offrir ou bien pour vous même, nous vous proposons deux formules, Découverte et Voltige</p>
          </div>
        </div>

        <div class="col s12 l4">
          <div class="icon-block">
            <a href="/static_pages/training" style="color: rgba(0, 0, 0, 0.87)">
              <h2 class="center blue-text"><i class="material-icons">cloud</i></h2>
              <h5 class="center">Stages</h5>
            </a>
            <p class="flow-text light center">Pour commencer ou simplement découvrir le vol à voile. Les activités se déroulent sur plusieurs jours.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 l6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11075.934994379711!2d3.9957677!3d46.0514224!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9f2208df890e8627!2sCentre+de+Vol+%C3%A0+Voile+Roannais+(CVVR)!5e0!3m2!1sfr!2sfr!4v1497455255939" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br/><br/>
        </div>
        <div id="div_facebook" class="col s12 l6">
          <iframe id="facebook" src="https://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FCVVR%2F289286909598&width=300&height=395&show_faces=false&colorscheme=light&stream=true&show_border=false&header=false" height="395" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="video-container">
      <iframe src="//www.youtube.com/embed/krrDfmccRsk?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <br/>

  <div class="container">
    <div class="section">

      <div class="row">
        <h5 class="center">Nous Contacter</h5>
        <div class="col s12">
          <p class="flow-text light center">
            Vous pouvez nous contacter par téléphone, par mail ou bien passer nous voir.<br/>
            Nous somme aussi sur Facebook où vous retrouverez toute les news du club.
          </p>
        </div>
        <div class="col s15 m6 ">
          <p class="flow-text light center">
            <a href="tel:+33477668108">+33 04 77 66 81 08</a>
            <br><br>
          </p>
        </div>
        <div class="col s15 m6">
          <p class="flow-text light center">
            <a href="mailto:cvvroannais@gmail.com">cvvroannais@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
