<div id="100">
  
  <div class="container">
    <div id="index-banner" class="slider" onclick="$('.slider').slider('next');">
      <ul class="slides">
        <% for image in Dir.glob("app/assets/images/TL7/*") %>
          <li>
            <div class="caption left-align">
              <h3>TL7</h3>
            </div>
            <div class="parallax-container" style="height: 500px;">
              <div class="parallax"> <%= image_tag(/TL7\/[a-zA-Z0-9\.\_]*$/.match(image), :style => 'height : 800px') %> </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

  <br/>

    <div id="index-banner" class="slider" onclick="$('.slider').slider('next');">
      <ul class="slides">
        <% for image in Dir.glob("app/assets/images/JourLePlusLong/*") %>
          <li>
            <div class="caption left-align">
              <h3>Jour le plus long</h3>
            </div>
            <div class="parallax-container" style="height: 500px;">
              <div class="parallax"> <%= image_tag(/JourLePlusLong\/[a-zA-Z0-9\.\_]*$/.match(image), :style => 'height : 800px') %> </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

  <br/>

    <div id="index-banner" class="slider" onclick="$('.slider').slider('next');">
      <ul class="slides">
        <% for image in Dir.glob("app/assets/images/Onde/*") %>
          <li>
            <div class="caption left-align">
              <h3>Vol d'onde</h3>
            </div>
            <div class="parallax-container" style="height: 500px;">
              <div class="parallax"> <%= image_tag(/Onde\/[a-zA-Z0-9\.\_]*$/.match(image), :style => 'height : 800px') %> </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <br/>

  <div class="container">
    <div class="video-container">
      <iframe src="//www.youtube.com/embed/krrDfmccRsk?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <br/>
    <div class="video-container">
      <iframe src="//www.youtube.com/embed/KyG72xSiGxg?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

</div>
