<div id="100" class="container">
  <div class="section">
    <div class="row">
      <h4 class="light blue-text text-darken-2">MTO</h4>
      <p class="flow-text light">
        Nous avons sélectionné quelques liens utiles voire indispensables à l'analyse et la prévision du temps.<br/><br/>
        Tout d'abord, le site incontournable de Météo France, dans sa version spécialisé pour l'aéronautique : <a target="_blank" href="https://aviation.meteo.fr/login.php">Aéroweb</a>.<br/>
        Ensuite, un site regroupant des images satellites et de précipitations : <a target="_blank" href="http://www.sat24.com/fr/fr">Sat24, Meteox etc</a>.<br/>
        Et enfin et non des moindre, la page de François Hersen, spécialisée dans le Vol à Voile : <a target="_blank" href="http://www.microclimat.net/">Microclim@t</a>.<br/>
      </p>
    </div>
    <div class="row">
      <h4 class="light blue-text text-darken-2">NOTAM</h4>
      <p class="flow-text light">
        Il est important avant tout vol de s'assurer des NOTAMs et autres SUP AIP sur les régions et aéroports que nous pouvons être amené à pénétrer/survoler.<br/><br/>
        
        Pour cela un site mis en place par le SIA : <a target="_blank" href="http://www.sia.aviation-civile.gouv.fr/">SIA</a><br/><br/>
        Vous y trouverez entre autres :<br/>
        • Un espace pour la consultations des <a target="_blank" href="http://notamweb.aviation-civile.gouv.fr/Script/IHM/Bul_R-ETR.php?Langue=FR">NOTAMs</a><br/>
        • Un autre pour la consultation des <a target="_blank" href="http://www.sia.aviation-civile.gouv.fr/asp/frameset_fr.asp?m=1">SUP AIP</a><br/>
        • Ou encore un espace dédié à l'activité du réseau <a target="_blank" href="http://www.sia.aviation-civile.gouv.fr/asp/frameset_fr.asp?m=39">RTBA</a><br/>
        • Et enfin un site synthétisant toutes ces données : <a target="_blank" href="http://olivia.aviation-civile.gouv.fr/">Olivia</a><br/>
      </p>
    </div>
  </div>
</div>
