<div id="100">

  <div class="container">
    <div class="section">
      
      <div class="row">
        <h3 class="center light blue-text text-darken-2">Tarif 2018</h3>
          <p class="flow-text light center">
            A jour au : 01/01/2018<br/>
            Toutes les informations contenues peuvent faire l’objet d’une modification sans préavis.
          </p>
      </div>
      <div class="row">
        <h4 class="light blue-text text-darken-2">Pour la découverte</h4>
          <p class="flow-text light">
            Vol découverte d'environ 20 minutes : 80€
          </p>
          <p class="flow-text light">
            Formule voltige avec un départ à l'avion remorqueur  : 150€ et 175€ avec option vidéo
          </p>
          <p class="flow-text light">
            Achat sur internet possible : <a href="https://www.cvvr.fr/static_pages/baptism">www.cvvr.fr</a>
          </p>
      </div>
      <div class="row">
        <h4 class="light blue-text text-darken-2">Stages</h4>
        <h5 class="light blue-text text-darken-2">Stage de découverte 3 jours</h5>
        <p class="flow-text light">
          Ce tarif comprend : <br/>
          &emsp;- 3 heures de vol ou 6 treuillées<br/>
          &emsp;- Licence-assurance fédérale 3 jours
        </p>
        <div class="col s12 m6">
          <table class="flow-text light highlight">
            <thead class="light">
              <tr>
                  <th></th>
                  <th class="center light">-25 ans</th>
                  <th class="center light">+25 ans</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Forfait 3 jours</td>
                <td class="center">300€</td>
                <td class="center">350€</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <h5 class="light blue-text text-darken-2">Stage de découverte 6 jours</h5>
        <p class="flow-text light">
          Ce tarif comprend : <br/>
          &emsp;- 6 heures de vol ou 12 treuillées<br/>
          &emsp;- Licence-assurance fédérale 6 jours
        </p>
        <div class="col s12 m6">
          <table class="flow-text light highlight">
            <thead class="light">
              <tr>
                  <th></th>
                  <th class="center light">-25 ans</th>
                  <th class="center light">+25 ans</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Forfait 6 jours</td>
                <td class="center">500€</td>
                <td class="center">550€</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <h4 class="light blue-text text-darken-2">Pour voler toute l'année !</h4>
        <table class="flow-text light highlight">
          <thead class="light">
            <tr>
                <th></th>
                <th class="center light">-25 ans</th>
                <th class="center light">+25 ans</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cotisation</td>
              <td colspan="2" class="center">30€</td>
            </tr>
            <tr>
              <td colspan="3">Frais de fonctionnement</td>
            </tr>
            <tr>
              <td>&emsp;Annuel</td>
              <td class="center">120€</td>
              <td class="center">160€</td>
            </tr>
            <tr>
              <td>&emsp;Journalier <small class="red-text">(Jusqu'à équivalence des frais annuels)</small></td>
              <td colspan="2" class="center">20€</td>
            </tr>
            <tr>
              <td>Caution annuelle 1ère inscription <small class="red-text">(Restituable en fin d’année)</small></td>
              <td colspan="2" class="center">300€</td>
            </tr>
            <tr>
              <td>Licence/Asssurance</td>
              <td class="center">81.70€</td>
              <td class="center">160.60€</td>
            </tr>
            <tr>
              <td colspan="3">Stagiaire avec planeur extérieur <small class="red-text">(Licence-assurance FFVV et cotisation association obligatoires)</small></td>
            </tr>
            <tr>
              <td>&emsp;Participation aux frais de fonctionnement <small>(Jour / Planeur)</small></td>
              <td colspan="2" class="center">20€</td>
            </tr>
            <tr>
              <td>&emsp;Hébergement hangar</td>
              <td colspan="2" class="center">5€/Jour</td>
            </tr>
            <tr>
              <td>Remorquage <small class="red-text">(Si >30 minutes : 25% de réduction)</small></td>
              <td colspan="2" class="center">3.50€/Minute</td>
            </tr>
            <tr>
              <td>Rallye DM entraînement pilote remorqueur avec FI(A)</td>
              <td colspan="2" class="center">210€</td>
            </tr>
            <tr>
              <td>Treuillage</td>
              <td colspan="2" class="center">10€</td>
            </tr>
            <tr>
              <td>Voltige DG1000 <small class="red-text">(Non dégressif)</small></td>
              <td colspan="2" class="center">30€/Heure</td>
            </tr>
            <tr>
              <td>Simulateur</td>
              <td colspan="2" class="center">5€/Séance</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <h4 class="light blue-text text-darken-2">Heures de planeur <small class="red-text">(Les vols en biplace hors instruction sont répartis en 50/50)</small></h4>
        <table class="flow-text light highlight">
          <thead class="light">
            <tr>
              <th class="light">Planeur</th>
              <th class="center light">1–20H</th>
              <th class="center light">20-35H</th>
              <th class="center light">35-50H</th>
              <th class="center light">>50H</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ASH25</td>
              <td class="center">30€</td>
              <td class="center">26.40€</td>
              <td class="center">20.10€</td>
              <td class="center">4.50€</td>
            </tr>
            <tr>
              <td>JANUS C ou DG1000</td>
              <td class="center">26€</td>
              <td class="center">22.90€</td>
              <td class="center">17.40€</td>
              <td class="center">3.90€</td>
            </tr>
            <tr>
              <td>TWIN</td>
              <td class="center">24€</td>
              <td class="center">21.10€</td>
              <td class="center">16.10€</td>
              <td class="center">3.60€</td>
            </tr>
            <tr>
              <td>LS6</td>
              <td class="center">26€</td>
              <td class="center">22.90€</td>
              <td class="center">17.40€</td>
              <td class="center">3.90€</td>
            </tr>
            <tr>
              <td>DISCUS</td>
              <td class="center">24€</td>
              <td class="center">21.10€</td>
              <td class="center">16.10€</td>
              <td class="center">3.60€</td>
            </tr>
            <tr>
              <td>DG300</td>
              <td class="center">23€</td>
              <td class="center">19.50€</td>
              <td class="center">15.40€</td>
              <td class="center">3.40€</td>
            </tr>
            <tr>
              <td>LS4</td>
              <td class="center">23€</td>
              <td class="center">19.50€</td>
              <td class="center">15.40€</td>
              <td class="center">3.40€</td>
            </tr>
            <tr>
              <td>FAUCONNET</td>
              <td class="center">8€</td>
              <td class="center">7€</td>
              <td class="center">5.40€</td>
              <td class="center">1.20€</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <h4 class="light blue-text text-darken-2">Divers</h4>
          <p class="flow-text light">
            Manuelde pilote vol à voile : 38€<br/>
            Carte local plastifiée : 4€<br/>
            Carnet de vol : 13.80€<br/>
            Participation aux frais de séjour : 4€/Jour
          </p>
      </div>
      <div class="row">
        <h4 class="light blue-text text-darken-2">Dépannage voiture club</h4>
          <p class="flow-text light">
            Facturationdukilomètre aucompteur : 0.30€/Kilomètre<br/>
            <small class="red-text">Le renseignement du carnet de bord du véhicule est obligatoire.</small>
          </p>
      </div>
      <div class="row">
        <h4 class="light blue-text text-darken-2">Dépannage air Rallye DM</h4>
          <p class="flow-text light">
            Hors destination forfaitaire : 2€/Minute<br/>
            Aérodromesforfaitisés :<br/>
            &emsp;Feurs : 75€<br/>
            &emsp;Lapalisse : 75€<br/>
            &emsp;St Yan : 75€<br/>
            &emsp;Paray : 84€<br/>
            &emsp;Ambert  : 101€<br/>
            &emsp;Montceau : 101€<br/>
            &emsp;St Etienne : 101€<br/>
            &emsp;Moulins : 110€<br/>
            &emsp;Autun : 180€<br/>
            &emsp;Le Puy : 180€<br/>
          </p>
      </div>
      
    </div>
  </div>

</div>
