<div id="100">

<div id="index-banner" class="parallax-container">
  <div class="parallax"> <%= image_tag("allan.jpg") %> </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <h5 class="center">Stages</h5>
      <p class="flow-text light">
        Nous proposons au CVVR deux types de stages, pour commencer ou simplement découvrir le vol à voile. Les activités se déroulent sur plusieurs jours, et il est important de noter que l'hébergement n'est pas compris dans le forfait, un camping est néanmoins mis à disposition !
      </p>
    </div>
  </div>
</div>

</div>
