<div id="100" class="container">
  <div class="section">
    <div class="row">
      <br/>
      <a target="_blank" href="http://www.facebook.com/pages/CVVR/289286909598"><h4 class="flow-text" >Facebook du CVVR</h4></a>
      <a target="_blank" href="https://www.ffvp.fr/"><h4 class="flow-text">Fédération française de vol en planeur</h4></a>
      <a target="_blank" href="http://www.planeur.net/"><h4 class="flow-text">Planeur.net</h4></a>
      <a target="_blank" href="http://victormike.free.fr/"><h4 class="flow-text">Victor Mike</h4></a>
      <a target="_blank" href="http://www.netcoupe.net"><h4 class="flow-text">NetCoupe</h4></a>
      <a target="_blank" href="https://live.glidernet.org/#c=46.06322,4.00891&z=11.573333333333332&s=1"><h4 class="flow-text">Live</h4></a>
      <a target="_blank" href="https://docs.google.com/forms/d/1xWrU2GIwWmhG-bw0k42xmUoZp4WVAU5PvLs4QTIa48M/prefill"><h4 class="flow-text">Déclaration d'un incident</h4></a>
    </div>
  </div>
</div>
